<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="/fragments/head::head">
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- <title>Real State Mr.House</title> -->

    <!-- <link rel="icon" href="/img/Logo.webp" type="image/x-icon"> -->
    <!-- <link href="css/one-page-wonder.min.css" rel="stylesheet"> -->

    <script src="/scrip/scrip.js"></script> 
    <!-- <link rel="stylesheet" th:href=" @{/css/styles-alquilar.css}"> -->
</head>

<body>
    <header th:replace="/fragments/header::header"></header>


    <div class="page">

        <div class="cards" >

            <div class="card" th:each="property : ${properties}">
                <a th:href="@{/alquilar/property/__${property.id}__}" >
                    
                    <div class="img" >
                     <img class="img" th:src="@{/image/view/__${property.image[0].id}__}" alt=" ">
                    </div>

                    <div class="detail">
                        <div class="title" th:text="${property.title}"></div>
                        <div class="price">
                            <div>$</div>
                            <div class="number" th:text="${property.price}"></div>
                            <div>0</div>
                        </div>

                        <div class="content" th:text="${property.features}"></div>
                    </div>
                </a>
            </div>


            
        </div>

    </div>


    <footer th:replace="/fragments/footer :: footer"></footer>

</body>

</html>