<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<!-- Head -->
<head>
    <head th:replace="/fragments/head::head"></head>
    <link rel="stylesheet" th:href=" @{/css/styles-alquilar.css}">

</head>

<body>
    <!-- Header, Navbar -->
    <header th:replace="/fragments/header::header"></header>


    <div class="page">

        <div class="cards" >

            <div class="card" th:each="property : ${properties}">
                <a th:href="@{/alquilar/property/__${property.id}__}" >
                    
                    <div class="img" >
                     <img class="img" th:src="@{/image/view/__${property.image[0].id}__}" alt=" ">
                    </div>

                    <div class="detail">
                        <div class="title" th:text="${property.title}"></div>
                        <div class="price">
                            <div>$</div>
                            <div class="number" th:text="${property.price}"></div>
                            <div>0</div>
                        </div>

                        <div class="content" th:text="${property.features}"></div>
                    </div>
                </a>
            </div>


            
        </div>

    </div>


    <!-- Footer -->
    <footer th:replace="/fragments/footer::footer"></footer>


    <!-- Script de Boostrap.js -->
    <script th:replace="/fragments/script::script"></script>

</body>

</html>