<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="/fragments/head::head"></head>

<!--CUADRO SUPERIOR-->

<body>

    <header th:replace="/fragments/header::header"></header>

    <main class="container mt-5">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <br>
            <h1 class="display-4 fst-italic">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Las ultimas novedades del mundo inmobiliario
                    </font>
                </font>
            </h1>
            <p class="lead my-3">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        "Todo lo que Necesitás Saber sobre Mercado Inmobiliario en Argentina y en el Mundo. Las Noticias
                        de Última Hora, Verídicas y sin Censuras de Mercado Inmobiliario. Periodismo Relevante."
                    </font>
                </font>
            </p>

        </div>

        <!-- COMIENZA: CUATRO CUADROS SIGUIENTES -->

        <div class="row mb-2">

            <!-- IZQUIERDAD - SUPERIOR -->

            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                    <div class="col p-4 d-flex flex-column position-static">

                        <strong class="d-inline-block mb-2 text-primary-emphasis">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Ley de Alquileres
                                </font>
                            </font>
                        </strong>


                        <h3 class="mb-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    La contundente respuesta de las provincias al pedido de Milei de derogar la Ley de
                                    Alquileres
                                </font>
                            </font>
                        </h3>

                        <div class="mb-1 text-body-secondary">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    28 DE NOVIEMBRE, 2023
                                </font>
                            </font>
                        </div>

                        <p class="card-text mb-auto">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    El presidente electo anticipó una posible derogación de la Ley de Alquileres y las
                                    agrupaciones de inquilinos de las provincias manifestaron su preocupación, de cara a
                                    los próximos años de gestión del libertario
                                </font>
                            </font>
                        </p>

                        <a class="icon-link gap-1 icon-link-hover stretched-link"
                            href="https://www.eldestapeweb.com/informacion-general/el-destape-la-rioja/la-contundente-respuesta-de-las-provincias-al-pedido-de-milei-de-derogar-la-ley-de-alquileres-2023112816410?gclid=EAIaIQobChMI367BpYfsggMVJlNIAB1ksQqHEAAYASAAEgIq9PD_BwE">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    sigue leyendo...
                                </font>
                            </font>
                            <svg class="bi">
                                <use>
                                </use>
                            </svg>
                        </a>
                    </div>


                    <!-- CUADRO con img IZQ SUP -->
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://cdn.eldestapeweb.com/eldestape/112023/1701200032473.webp?cw=770&ch=440&extw=jpg"
                            width="200px" height="250px" alt=" ">
                    </div>

                </div>
            </div>



            <!-- DERECHO - SUPERIOR -->
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                    <div class="col p-4 d-flex flex-column position-static">

                        <strong class="d-inline-block mb-2 text-success-emphasis">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    INMUEBLES
                                </font>
                            </font>
                        </strong>

                        <h3 class="mb-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Inmuebles: qué puede pasar con los precios de los departamentos en los próximos
                                    meses
                                </font>
                            </font>
                        </h3>



                        <div class="mb-1 text-body-secondary">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    22 de noviembre 2023
                                </font>
                            </font>
                        </div>


                        <p class="mb-auto">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Hay una coincidencia entre diferentes actores en que "el mercado se va a recuperar",
                                    ya que actualmente se encuentra en una "meseta" de precios del metro cuadrado (M2).
                                </font>
                            </font>
                        </p>


                        <a class="icon-link gap-1 icon-link-hover stretched-link"
                            href="https://www.ambito.com/economia/inmuebles-que-puede-pasar-los-precios-los-departamentos-los-proximos-meses-n5881174">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    sigue leyendo...
                                </font>
                            </font>
                            <svg class="bi">
                                <use>
                                </use>
                            </svg>
                        </a>
                    </div>

                    <!-- CUADRO con img DER SUP -->

                    <div class="col-auto d-none d-lg-block">
                        <img src="https://media.ambito.com/p/ac1c6e240b17d58b853c705d18267dc4/adjuntos/239/imagenes/040/769/0040769390/655x368/smart/p32-venta-departamen_optjpeg.jpeg"
                            width="200px" height="250px" alt=" ">
                    </div>


                </div>


            </div>

            <!-- IZQUIERDAD - INFERIOR -->

            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                    <div class="col p-4 d-flex flex-column position-static">

                        <strong class="d-inline-block mb-2 text-primary-emphasis">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Mercado Inmobiliario
                                </font>
                            </font>
                        </strong>


                        <h3 class="mb-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    “No hay mercado”: las inmobiliarias tienen cada vez menos viviendas y la oferta para
                                    alquilar sigue derrumbándose
                                </font>
                            </font>
                        </h3>

                        <div class="mb-1 text-body-secondary">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    05 DE DICIEMBRE, 2023
                                </font>
                            </font>
                        </div>

                        <p class="card-text mb-auto">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Encontrar una propiedad es cada vez más complejo. Los dueños que recuperan inmuebles
                                    prefieren esperar que asuma el nuevo Gobierno porque entienden que la actual ley
                                    puede cambiar. Qué opinan inquilinos y que aconsejan
                                </font>
                            </font>
                        </p>

                        <a class="icon-link gap-1 icon-link-hover stretched-link"
                            href="https://www.infobae.com/economia/2023/12/05/no-hay-mercado-las-inmobiliarias-tiene-cada-vez-menos-viviendas-y-la-oferta-para-alquilar-sigue-derrumbandose/">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    sigue leyendo...
                                </font>
                            </font>
                            <svg class="bi">
                                <use>
                                </use>
                            </svg>
                        </a>
                    </div>


                    <!-- CUADRO con img IZQ INF -->
                    <div class="col-auto d-none d-lg-block">
                        <img src="https://www.infobae.com/new-resizer/X1g0anQuNs1pQaiUAuJzoD4Qz0E=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/IFM7HPMFMJHSXIPD67C2LMXA3M.png"
                            width="200px" height="250px" alt=" ">
                    </div>

                </div>
            </div>

            <!-- DERECHO - INFERIOR -->
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                    <div class="col p-5 d-flex flex-column position-static">

                        <strong class="d-inline-block mb-2 text-success-emphasis">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    ¿comprar o esperar?
                                </font>
                            </font>
                        </strong>

                        <h3 class="mb-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    La reformas de Milei y el mercado inmobiliario: ¿conviene comprar o esperar?
                                </font>
                            </font>
                        </h3>



                        <div class="mb-1 text-body-secondary">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    06 de DICIEMBRE 2023
                                </font>
                            </font>
                        </div>


                        <p class="mb-auto">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Las recomendaciones de los expertos del sector. Cuáles son los inmuebles porteños
                                    que más se vendieron en los últimos meses
                                </font>
                            </font>
                        </p>


                        <a class="icon-link gap-1 icon-link-hover stretched-link"
                            href="https://www.infobae.com/economia/2023/12/06/la-reformas-de-milei-y-el-mercado-inmobiliario-conviene-comprar-o-esperar/">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    sigue leyendo...
                                </font>
                            </font>
                            <svg class="bi">
                                <use>
                                </use>
                            </svg>
                        </a>
                    </div>

                    <!-- CUADRO con img DER INF -->

                    <div class="col-auto d-none d-lg-block">
                        <img src="https://www.infobae.com/new-resizer/15_L-lSZ52Lbn_5fRCiEtgiJRxs=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/HBICIDXU4ZAMNMLE3CFJ332FZ4.jpg"
                            width="200px" height="250px" alt=" ">
                    </div>


                </div>


            </div>

            <div class="row g-5">
                <div class="col-md-8">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Información sobre el mercado inmobiliario
                            </font>
                        </font>
                    </h3>

                    <article class="blog-post">
                        <h2 class="display-5 link-body-emphasis mb-1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Alquileres: el mercado impone subas por arriba de la ley y de la inflación
                                </font>
                            </font>
                        </h2>

                        <p class="blog-post-meta">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    02 DE JULIO, 2023
                                </font>
                            </font>
                            <a href="#">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        www.eldestapeweb.com
                                    </font>
                                </font>
                            </a>
                        </p>

                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    A tres años de la sanción de la Ley de Alquileres el balance inicial pone el foco en
                                    el fuerte incumplimiento de la normativa que se traduce, sobre todo, en aumentos de
                                    mercado que superan ampliamente al índice que fija la ley y a la propia inflación,
                                    en un país donde al menos 10 millones de personas dependen de un alquiler para tener
                                    un techo para vivir. En ese escenario la oferta de viviendas en moneda extranjera
                                    crece y llega a más de a mitad de total disponible en las grandes urbes.
                                </font>
                                <font style="vertical-align: inherit;">
                                </font>
                            </font>
                        </p>

                        <hr>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    En relación, los contratos que cumplen este primero de julio los tres años de
                                    alquiler bajo la nueva ley se ubicaron “123 puntos porcentuales por debajo de las
                                    subas del mercado y 48 puntos por debajo de la inflación” en la Ciudad de Buenos
                                    Aires, según detalló un informe de Inquilinos Agrupados.
                                </font>
                                <font style="vertical-align: inherit;">
                                    Información propia de los mercados dio cuenta de subas de más del 500% en los
                                    últimos tres años, aunque evalúan que el motivo recae es la propia regulación de la
                                    ley, y no en su incumplimiento.
                                </font>
                                <font style="vertical-align: inherit;">
                                    En tema parece, a su vez, alejado de la agenda electoral y los planteos más públicos
                                    se limitan a insistir en la derogación completa de la norma, un planteo central de
                                    la oposición, o recaen en el fomento de nuevas construcciones, pese a que los datos
                                    destacan que su número crece por arriba de la cantidad de población, o en generar
                                    más beneficios para propietarios y más endeudamiento para trabajadores.
                                </font>
                            </font>

                            <a class="icon-link gap-1 icon-link-hover stretched-link"
                                href="https://www.eldestapeweb.com/economia/ley-de-alquileres/alquileres-el-mercado-impone-subas-por-arriba-de-la-ley-y-de-la-inflacion-2023720545?gclid=EAIaIQobChMI367BpYfsggMVJlNIAB1ksQqHEAAYASAAEgIq9PD_BwE">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        sigue leyendo...
                                    </font>
                                </font>
                                <svg class="bi">
                                    <use>
                                    </use>
                                </svg>
                            </a>

                        </p>
                        <!-- FINALIZA:  CUADROS SIGUIENTES -->



                        <!-- COMIENZO: El nuevo modelo de viviendas que podría solucionar el déficit habitacional  -->
                        <br>
                        <br>
                        <br>
                        <br>
                        <div>
                            <h2>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        El nuevo modelo de viviendas que podría solucionar el déficit habitacional
                                    </font>
                                </font>
                            </h2>

                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Dentro de la oferta del mercado hay tres modelos de edificaciones prefabricadas
                                        que se construyen en tiempo récord y están realizadas con materiales como
                                        madera, hormigón y acero, lo que permite reducir su precio.
                                    </font>
                                </font>
                            </p>


                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Hasta hace unos años, se asociaba a las casas prefabricadas y premoldeadas con
                                        la idea de una construcción de baja calidad destinada a personas con pocos
                                        recursos.
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        Pero la incorporación de nuevos materiales y la modernización en el proceso de
                                        construcción produjeron un giro de 180° y, hoy en día, este tipo de viviendas
                                        constituyen una opción de muy buena calidad, de construcción rápida, con menores
                                        costos y bajo impacto ambiental.
                                    </font>
                                </font>
                                <a class="icon-link gap-1 icon-link-hover stretched-link"
                                    href="https://www.ambito.com/negocios/el-nuevo-modelo-viviendas-que-podria-solucionar-el-deficit-habitacional-n5878375">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            sigue leyendo...
                                        </font>
                                    </font>
                                    <svg class="bi">
                                        <use>
                                        </use>
                                    </svg>
                                </a>
                            </p>
                        </div>
                        <br>
                        <br>

                        <!-- FIN: El nuevo modelo de viviendas que podría solucionar el déficit habitacional  -->
                        <!-- COMIENZA MAS NOTICIAS -->
                        <br>
                        <br>
                        <br>
                        <br>

                        <div>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        PUEDE ENVIARNOS SUS MENSAJES
                                    </font>
                                </font>
                            </p>
                            <div>
                                <a href="/contacto" class="btn"><button>CONTACTO</button></a>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <h2>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Bienes raíces
                                </font>
                            </font>
                        </h2>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Mercado inmobiliario: a pesar de la crisis, existen grandes oportunidades para
                                    comprar una casa nueva
                                </font>
                            </font>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Existen oportunidades para comprar propiedades, a pesar de la crisis inmobiliaria.
                                </font>
                            </font>

                        </p>

                        <ul>
                            <li>
                                <strong>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <a class="icon-link"
                                                href='https://www.cronista.com/espana/economia-finanzas/mercado-inmobiliario-a-pesar-de-la-crisis-existen-grandes-oportunidades-para-comprar-una-casa-nueva/'>
                                                En un mercado deprimido, y con los bancos centrales subieron los
                                                intereses, un bono rinde un 4 por ciento anual.
                                            </a>
                                        </font>
                                    </font>
                                </strong>
                            </li>
                        </ul>
                        <h2>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    El mercado inmobiliario español busca al "inquilino de lujo": cómo funciona este
                                    cambio
                                </font>
                            </font>
                        </h2>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    El mercado de compraventa de inmuebles español está a la baja. En agosto se
                                    registraron 14,9% operaciones menos que en el mismo mes de 2022.
                                </font>
                                <font style="vertical-align: inherit;">
                                    En el último año, España vio una baja en las operaciones inmobiliarias.Fuente:
                                    Pixabay
                                </font>
                                <font style="vertical-align: inherit;">
                                    El mapa de la vivienda en España sufre una sensible variación si se tiene en cuenta
                                    una caída en los contratos de compraventa, con respecto al mismo período del año
                                    anterior, y un crecimiento pronunciado del rubro inquilinos, según se desprende de
                                    sendos estudios, público y privado.
                                </font>
                            </font>
                            <a class="icon-link"
                                href="https://www.cronista.com/espana/economia-finanzas/el-mercado-inmobiliario-espanol-busca-al-inquilino-de-lujo-como-funciona-este-cambio/">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        sigue leyendo...
                                    </font>
                                </font>
                            </a>
                        </p>
                        <h3>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Ranking: qué puesto ocupa Buenos Aires entre las 25 ciudades más caras del mundo
                                    para comprar un departamento
                                </font>
                            </font>
                        </h3>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Tomando los mismos valores de referencia de un ranking internacional sobre las 25
                                    principales ciudades del mundo,
                                </font>
                                <font style="vertical-align: inherit;">
                                    una entidad argentina logra saber en qué puesto estaría Buenos Aires
                                </font>
                                <font style="vertical-align: inherit;">
                                    Aunque la ciudad de Buenos Aires no está incorporada en el ranking, la transparencia
                                    de su metodología permite integrarla en la lista utilizando las mismas variables que
                                    las demás ciudades analizadas
                                </font>
                            </font>
                            <a class="icon-link"
                                href="https://www.lanacion.com.ar/propiedades/casas-y-departamentos/ranking-que-puesto-ocupa-buenos-aires-entre-las-ciudades-mas-caras-para-comprar-un-departamento-nid04122023/">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        sigue leyendo...
                                    </font>
                                </font>
                            </a>

                        <div class="col-auto d-none d-lg-block">
                            <img src="https://www.lanacion.com.ar/resizer/v2/aunque-la-ciudad-de-buenos-aires-no-esta-M5GT3IQKNNDTJPMFP242ZPGKPI.JPG?auth=4bf6d2fda345f6ef963f4ab51bfc9cf9da87d46c6e22cfcfb977d84db42268e1&width=880&height=586&quality=70&smart=true"
                                width="500px" height="500px" alt=" ">
                        </div>

                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                La hermosa ciudad de Buenos Aires
                            </font>
                            <font style="vertical-align: inherit;">

                            </font>
                        </font>
                        </p>
                    </article>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>


                <!-- FIN MAS NOTICIAS -->

                <!-- LISTA DE OTRAS NOTICIAS (RECUADRO DERECHO DE PANTALLA) -->

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">

                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    OTRAS NOTICIAS:
                                </font>
                            </font>
                        </p>

                        <ol>
                            <li>
                                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <a
                                                href="https://www.ambito.com/economia/cumbre-del-mercosur-union-europea-presiona-el-acuerdo-y-argentina-resiste-n5891460">
                                                Cumbre del Mercosur: Unión Europea presiona por el acuerdo y Argentina
                                                resiste
                                            </a>
                                        </font>
                                    </font>
                                </h3>
                            </li>
                            <li>
                                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <a href="https://www.ambito.com/politica/asuncion-javier-milei-pidio-hablarle-al-puebloen-lugar-la-asamblea-legislativa-n5891569"
                                                target=""
                                                title="ámbito.com | Asunción: Javier Milei pidió hablarle al pueblo en lugar de a la Asamblea Legislativa"
                                                alt="ámbito.com | Asunción: Javier Milei pidió hablarle al pueblo en lugar de a la Asamblea Legislativa">
                                                Asunción: Javier Milei pidió hablarle al pueblo en lugar de a la
                                                Asamblea Legislativa
                                            </a>
                                        </font>
                                    </font>
                                </h3>
                            </li>
                            <li>
                                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <a href="https://www.ambito.com/finanzas/el-dolar-el-mundo-recupera-terreno-caer-tres-semanas-al-hilo-n5890976"
                                                target=""
                                                title="ámbito.com | El dólar rebotó en el mundo tras derrumbarse en las últimas tres semanas"
                                                alt="ámbito.com | El dólar rebotó en el mundo tras derrumbarse en las últimas tres semanas">
                                                El dólar rebotó en el mundo tras derrumbarse en las últimas tres semanas
                                            </a>
                                        </font>
                                    </font>
                                </h3>
                            </li>
                            <li>
                                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <a href="https://www.ambito.com/finanzas/dolar-blue-hoy-cuanto-cotiza-este-martes-5-diciembre-n5891547"
                                                target=""
                                                title="ámbito.com | Dólar blue hoy: a cuánto cotiza este martes 5 de diciembre"
                                                alt="ámbito.com | Dólar blue hoy: a cuánto cotiza este martes 5 de diciembre">
                                                Dólar blue hoy: a cuánto cotiza este martes 5 de diciembre
                                            </a>
                                        </font>
                                    </font>
                                </h3>
                            </li>
                        </ol>

                        <!-- FINALIZA: LISTA DE OTRAS NOTICIAS (RECUADRO DERECHO DE PANTALLA) -->
                        <!-- COMIENZO: SECTOR BAJO DERECHO -->
                        <br>
                        <div class="top-ranked-news">
                            <header class="top-ranked-news__header">
                                <span class="top-ranked-news__obj-title">
                                    Ultimas Publicaciones
                                </span>
                            </header>


                            <!-- DIV LISTA IMAGENES -->
                            <div>
                                <h4 class="fst-italic">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Recientes en MR. HOUSE
                                        </font>
                                    </font>
                                </h4>

                                <ul class="list-unstyled">
                                    <li>
                                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                            href="#">
                                            <svg class="bd-placeholder-img" width="100%" height="96"
                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                                <img class="img" th:each="property : ${properties}"
                                                    th:src="@{/image/view/__${property.image[0].id}__}" width="50%"
                                                    height="50%" fill="#777" alt=" ">

                                                <div class="col-lg-8">
                                                    <h6 class="mb-0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.title}">
                                                                Ejemplo de título de publicación de blog
                                                            </font>
                                                        </font>
                                                    </h6>
                                                    <h6 class="mb-0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.typePublication}">
                                                                Ejemplo de título de publicación de blog
                                                            </font>
                                                        </font>
                                                    </h6>
                                                    <small class="text-body-secondary">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.alta}">
                                                                15 de enero de 2023
                                                            </font>
                                                        </font>
                                                    </small>
                                                </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                            href="#">
                                            <svg class="bd-placeholder-img" width="100%" height="96"
                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                                <img class="img" th:each="property : ${properties}"
                                                    th:src="@{/image/view/__${property.image[0].id}__}" width="50%"
                                                    height="50%" fill="#777" alt=" ">

                                                <div class="col-lg-8">
                                                    <h6 class="mb-0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.title}">
                                                                Ejemplo de título de publicación de blog
                                                            </font>
                                                        </font>
                                                    </h6>
                                                    <h6 class="mb-0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.typePublication}">
                                                                Ejemplo de título de publicación de blog
                                                            </font>
                                                        </font>
                                                    </h6>
                                                    <small class="text-body-secondary">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.alta}">
                                                                15 de enero de 2023
                                                            </font>
                                                        </font>
                                                    </small>
                                                </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                            href="#">
                                            <svg class="bd-placeholder-img" width="100%" height="96"
                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                                <img class="img" th:each="property : ${properties}"
                                                    th:src="@{/image/view/__${property.image[0].id}__}" width="50%"
                                                    height="50%" fill="#777" alt=" ">
                                                <div class="col-lg-8">
                                                    <h6 class="mb-0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.title}">
                                                                Ejemplo de título de publicación de blog
                                                            </font>
                                                        </font>
                                                    </h6>
                                                    <h6 class="mb-0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.typePublication}">
                                                                Ejemplo de título de publicación de blog
                                                            </font>
                                                        </font>
                                                    </h6>
                                                    <small class="text-body-secondary">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;"
                                                                th:each="property : ${properties}"
                                                                th:text="${property.alta}">
                                                                15 de enero de 2023
                                                            </font>
                                                        </font>
                                                    </small>
                                                </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- FINALIZA: SECTOR BAJO DERECHO -->

                    </div>
                </div>
    </main>


    <!-- Footer -->
    <footer th:replace="/fragments/footer::footer"></footer>

    <!-- Script de Boostrap.js -->
    <script th:replace="/fragments/script::script"></script>

</body>


</html>