<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">


<!-- Head -->
    <head>
        <title>Real State Mr.House</title>
        <head th:replace="/fragments/head::head"></head>
        <link rel="stylesheet" th:href=" @{/css/styles-alquilar-property.css}">
    </head>

    <body>
    <!-- Header, Navbar -->
    <header th:replace="/fragments/header::header"></header>



        <div class="page">

            <div class="page-2" th:action="@{/alquilar/property/{id}(id=${property.id})}">



                <div class="cont" id="cont-1">
                    <!--<div class="property" id="prop-1">
                        <div class="image" id="img-1">
                            <img class="image" id="img-3" th:src="@{/image/view/__${property.image[0].id}__}" alt=" ">
    
                              th:each="image : ${imagesProperty}"
                                               @{/image/view/__${property.image[0].id}__}
                        </div>
                        <div class="images-property">
                            <div class="image" id="img-2" th:each="image : ${property.image}">
                                <button class="img">
                                    <img th:src="@{/image/view/__${image.id}__}" alt=" ">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="property">
                        <div id="carousel" class="carousel slide">
                            <div class="carousel-inner" id="prop-1">
                                <div class="carousel-item active" th:each="image : ${property.image}">
                                    <img th:src="@{/image/view/__${image.id}__}" class="d-block w-100" alt="">
                                </div>
                            </div>
                            <button class="carousel-control-prev" th:type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" th:type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>    -->

                    <div class="property" id="prop-1">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner" >
                                <div class="carousel-item active">
                                    <img id="img-1" src="/img/Mrhouse.png" alt="">
                                </div>
                                <div class="carousel-item" th:each="image : ${property.image}">
                                    <img id="img-1" th:src="@{/image/view/__${image.id}__}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="property" id="prop-2">
                        <div class="detail" id="detail-1">
                            <div class="title" id="title-1" th:text="${property.typePublication}"></div>
                            <div class="title" id="title-2" th:text="${property.title}"></div>
                        </div>




                        <div class="detail" id="detail-2">

                            <div class="price">$</div>
                            <div class="price" id="number" th:text="${property.price}"></div>
                            <div class="price">0</div>


                        </div>



                        <div class="detail" id="detail-3">
                            <div class="division-features">
                                <div class="info" id="location">Location</div>
                                <div class="info">
                                    <div>address:</div>
                                    <div id="address" th:text="${property.location}"></div>
                                </div>

                                <div class="info">
                                    <div>province:</div>
                                    <div id="province" th:text="${property.province.getNombre()}"></div>
                                </div>
                                <div class="info">
                                    <div>city:</div>
                                    <div id="city" th:text="${property.city.getNombre()}"></div>
                                </div>
                            </div>
                            <!--<div class="division-features">
                                <div class="info" id="dimension">Dimension</div>
                                <div class="info">
                                    <div>sup:</div>
                                    <div id="superficie">0</div>
                                    <div>m2</div>
                                </div>
    
                                <div class="info">
                                    <div>width:</div>
                                    <div id="width">0</div>
                                    <div>m</div>
                                </div>
    
                                <div class="info">
                                    <div>large:</div>
                                    <div id="large">0</div>
                                    <div>m</div>
                                </div>
    
    
                            </div>-->
                        </div>

                        <div class="detail" id="detail-5">
                            <div class="button" id="button-contac">
                                <a th:href="@{/property/offers/__${property.id}__}">
                                    <button>Contactar</button>
                                </a>
                            </div>

                            <div  class="button" id="button-soli">
                                <a th:href="@{/property/shifts/__${property.id}__}">
                                    <button>Solicitar turno</button>
                                </a>
                            </div>
                        </div>

                        <div class="detail" id="detail-6">
                            <div id="name-user" th:text="${property.publishers.name}"></div>
                        </div>
                    </div>


                </div>





                <div class="cont" id="cont-2">

                    <div class="cont-description">
                        <div id="description-title">Detalles de la propiedad:</div>

                        <div id="description" th:text="${property.features}"></div>

                    </div>


                </div>

            </div>




            <div class="cont" id="cont-3">
                <div class="properties" id="title">Puedes ver mas propiedades</div>



                <div class="properties" id="cards">


                    <div class="card-1" th:each="prop : ${properties}">
                        <a th:href="@{/alquilar/property/__${prop.id}__}">
                            <div class="card-detail" id="card-detail-img"><img th:src="@{/image/view/__${prop.image[0].id}__}"
                                                                               alt=" "></div>
                            <div class="card-detail" id="card-detail-description">
                                <div class="card-title-description" th:text="${prop.title}"></div>

                                <div class="card-price">
                                    <div>$</div>
                                    <div id="number-price" th:text="${prop.price}"></div>
                                    <div>0</div>
                                </div>

                            </div>

                        </a>

                    </div>



                </div>
            </div>
        </div>



    <!-- Footer -->
    <footer th:replace="/fragments/footer::footer"></footer>

    <!-- Script de Boostrap.js -->
    <script th:replace="/fragments/script::script"></script>

    </body>

</html>