<nav class="navbar">
    <div class="container-fluid">
        <!-- Logo alineado a la izquierda -->
        <a class="navbar-brand" href="#">
            <img src="img/logoProyectoFinal.png" alt="Logo" width="" height="55">
        </a>

        <div class="d-none d-lg-block" id="navbarCollapse">
            <ul class="navbar-nav navbar1 mx-auto m-0 mb-0">
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/comprar">Comprar</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/alquilar">Alquilar</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/publishers">Publicar</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>

        </div>

        <div>
            <!-- Botón para abrir el modal de login -->
            
            <!-- <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#registroModal">
                Login
            </button> -->

            <!-- Botón para abrir el modal de registro -->
            <!-- <button type="button" class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal"
                data-bs-target="#registroModal">
                Registrar
            </button> -->
            <a href="/login" class="btn btn-outline-primary btn-sm">Login</a>
            <a href="/register" class="btn btn-primary btn-sm mx-1">Registrar</a>


            <!-- Boton para mostrar el menu -->
            <button class="btn btn-lg border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="bi bi-list"></span>
            </button>
        </div>

        <!-- Canvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body p-5">

                <!-- Menu Navegacion Canvas -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pb-3 d-block d-lg-none">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comprar">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alquilar">Alquilar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/publishers">Publicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                </ul>

                <!-- Menu Navegacion Mi Cuenta -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li>
                        <h6><i class="bi bi-person-circle fs-5 me-2"></i>Mi Cuenta</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configuracion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Listar Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Listar Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Modificar Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>