<nav class="navbar">
    <div class="container-fluid">
        <!-- Logo alineado a la izquierda -->
        <a class="navbar-brand" href="/">
            <img src="/img/logoProyectoFinal.png" alt="Logo" width="" height="55">
        </a>

        <div class="d-none d-lg-block" id="navbarCollapse">
            <ul class="navbar-nav navbar1 mx-auto m-0 mb-0">
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/comprar">Comprar</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/alquilar">Alquilar</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN') or hasRole('ENTE')" th:href="@{/property/register}">Publicar</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>

        </div>

        <div>
            <!-- Botón para abrir el modal de login -->

            <!-- <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#registroModal">
                Login
            </button> -->

            <!-- Botón para abrir el modal de registro -->
            <!-- <button type="button" class="btn btn-primary btn-sm mx-1" data-bs-toggle="modal"
                data-bs-target="#registroModal">
                Registrar
            </button> -->
            <a href="/login" th:if="${session.usuariosession == null}" class="btn btn-primary btn-sm mx-1">Ingresar</a>
            <a href="/logout" th:if="${session.usuariosession != null}" class="btn btn-danger btn-sm mx-1">Cerrar Sesión</a>






            <!-- Boton para mostrar el menu -->
            <button class="btn btn-lg border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="bi bi-list"></span>
            </button>
        </div>

        <!-- Canvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body p-5">

                <!-- Menu Navegacion Canvas -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pb-3 d-block d-lg-none">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comprar">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alquilar">Alquilar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN') or hasRole('ENTE')" th:href="@{/property/register}">Publicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                </ul>


                <!-- Menu Navegacion Mi Cuenta -->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li> 

                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="font-weight: bold;"> 
                            <i class="bi bi-person-circle fs-5 me-2" ></i>Mi Cuenta</a>

                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" href="/profile" >Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="/logout" >Cerrar Sesión</a></li>
                        </ul>

                    </li>


                    <li> 
                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="font-weight: bold;">
                            <i class="bi bi-file-earmark-text fs-5 me-2" ></i>Mis Gestiones</a>

                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" th:href="@{/property/myOffers}" >Mis Ofertas</a></li>
                            <li><a class="dropdown-item" th:href="@{/property/myShifts}" >Mis Turnos</a></li>
                        </ul>
                    </li>

                    <li> 
                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMIN') or hasRole('ENTE')" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="font-weight: bold;">
                            <i class="bi bi-briefcase-fill fs-5 me-2" ></i>Mis Publicaciones</a>
                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" th:href="@{/property/propertyByPublisher}">Publicaciones</a></li>
                            <li><a class="dropdown-item" th:href="@{/property/offersByPropertyPublisher}">Ofertas por Publicaciones</a></li>
                            <li><a class="dropdown-item" th:href="@{/property/shiftsByPropertyPublisher}" >Turnos por Publicaciones</a></li>
                        </ul>

                    </li>

                    <li > 
                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMIN')" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="font-weight: bold;">
                            <i class="bi bi-shield-fill-exclamation fs-5 me-2" ></i>Supervisor</a>
                            
   <!--                     <h6><i class="bi bi-shield-fill-exclamation fs-5 me-2" ></i>Supervisor</h6>

                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Usuarios
                        </a>
-->
                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" th:href="@{/listUsers}" >Lista usuarios</a></li>
                            <li><a class="dropdown-item" href="/logout" >Lista de Roles</a></li>
                           
                            <li><a class="dropdown-item" th:href="@{/property/list}" >Lista Publicaciones</a></li>
                            <li><a class="dropdown-item" th:href="@{/publishers/list}" >Lista de publicadores</a></li>
                            <li><a class="dropdown-item" th:href="@{/property/listOffer}" >Lista Ofertas</a></li>
                            <li><a class="dropdown-item" th:href="@{/property/listShift}" >Lista de Turnos</a></li>
                            <li><a class="dropdown-item" th:href="@{/contacto/lista}">Lista contactos</a></li>
                            <li><a class="dropdown-item" href="" >Lista de Noticias</a></li>
                            
                        </ul>

                    <!--    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Publicaciones
                        </a>

                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" href="/profile" >Lista Publicaciones</a></li>
                        </ul>

                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Contactos
                        </a>

                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" href="/profile" >Lista contactos</a></li>
                        </ul>

                        <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Blog de Noticias
                        </a>

                        <ul class="dropdown-menu" >    
                            <li><a class="dropdown-item" href="/profile" >Lista de Noticias</a></li>
                        </ul>
-->
                    </li>

                    <!--

                    <li class="nav-item">
                        <a class="nav-link" href="#">Perfil22</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configuracion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Listar Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Listar Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Modificar Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesion</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</nav>