
<nav class="navbar navbar-expand-xxl navbar-dark bg-dark fixed-top" aria-label="Ejemplo de séptima barra de navegación">

    <div class="container-fluid">
        <a href="//index.html" class="navbar-brand d-flex align-items-center">
            <img src="/img/mrhouse.png" alt="Logo de Mr. House" width="150" height="70">
        </a>
        <div class="d-flex justify-content-center text-center mx-auto">
            <li><a class="navbar-brand" href="/">
                    Home
                </a></li>
            <li><a class="navbar-brand" href="/comprar">
                    Comprar
                </a></li>
            <li><a class="navbar-brand" href="/alquilar">
                    Alquilar
                </a></li>

             <li class="nav-item dropdown">
                        <a class="navbar-brand"  href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Publicar </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >

                            <li><a class="dropdown-item" th:href="@{/property/register}">Crear Publicacion</a></li>
                            <li><a class="dropdown-item" th:href="@{/property/list}">Listar Publicacion</a></li>
                            <li><a class="dropdown-item"th:href="@{/publishers/register}">Registrarse como publicador</a></li>
                            <li><a class="dropdown-item" th:href="@{/publishers/list}">Lista de Publicadores</a></li>
                        </ul>
                    </li>
                    
                    
        </div>

        <a href="/Ingresar" class="mx-3 navbar-brand">Login</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Navegación de palanca">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body text-black">
                <!-- Contenido del menú -->
                <ul class="navbar-nav flex-grow-1 pe-3 ">
                    <li class="nav-item">
                        <a class="nav-link active text-black" aria-current="page" href="/home">
                            Mr. House ®
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/blog">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled text-black" aria-disabled="true" href="/contacto">
                            Contacto
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu">


                            <li><a class="dropdown-item text-black" href="#">
                                    Users
                                </a></li>
                            <li><a class="dropdown-item text-black" href="#">
                                    Profile
                                </a></li>
                            <li><a class="dropdown-item text-black" href="#">
                                    List users
                                </a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>

</nav>

